@import url('./_normalize.css');
@import url('./_reset.css');

#root {
  --clr-red: #f13c20;
  --clr-light: #f9f9fb;
  --clr-charcoal: #36454f;
  --clr-dark: #11161a;

  --clr-accent: var(--clr-red);
  --text-normal: var(--clr-dark);
  --text-light: var(--color-charcoal);
  --text-lighter: #6a7181;
  --text-lightest: #9ca2b0;

  --border: 2px solid var(--clr-charcoal);

  width: 50%;
  min-width: 300px;
  max-width: 1000px;

  & > * { width: 100%; }
}

body {
  padding: 0.5rem;
  background-color: #f5f5f5;
  color: var(--text-lighter);
  font-family: ui-sans-serif, -apple-system, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* default for hr */
hr {
  border: var(--border);
}

/* default styling for inputs and buttons */
input, button {
  background: #fff;
  border: 2px solid var(--clr-charcoal);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

button {
  background: var(--clr-accent);
  color: var(--clr-light);
  font-weight: 700;
  cursor: pointer;
}

/* default styling for headers */
h1 {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.8rem;
  font-weight: 800;
}

h3 {
  font-size: 1.6rem;
  font-weight: 700;
  opacity: 0.9;
}

h4 {
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 0.9;
}

h5 {
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.8;
}

h6 {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.8;
}
