.Feed {
  margin-bottom: 2rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &> *:first-child {
        width: 0.9rem;
        min-width: 0.9rem;
        height: 0.9rem;
        border-radius: 0.25rem;
      }

      &> div:last-child {
        background-color: #fff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: var(--border);
        width: 100%;

        h4 {
          display: flex;
          align-items: center;
          justify-content: space-between;

          a:last-child {
            font-size: 1rem;
          }
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.Login {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    min-width: 20rem;

    input, button {
      max-width: 20rem;
      width: 100%;
    }

    &> span {
      color: var(--clr-accent);
      font-weight: 500;
      cursor: pointer;
    }
  }
}
